:root {

    
    //global 

    --font-family: PF Din Text Cond Pro;
    --secondary-font-family: PF Din Text Comp Pro;
    
    
    --container-padding-xl: 35px;
    --container-padding-l: 30px;
    --container-padding-s: 12px;

    --btn-bg: #B21F24;
    --btn-color: #F4F4F2;
    --btn-bg-hover: #db383e;
    --btn-bg-disabled: #CFCFCF;
    --btn-color-disabled: #FFFFFF;

    --font-color: #AA927A;
    --secondary-font-color: #614D49;
    --third-font-color: #311311;
    --fourth-font-color: #7C6E6B;
    
    --white: #FFFFFF;
    --accent-color: #B21F24;


    //header
    --header-bg: #614D49;

    --header-link: #FFFFFF;
    --header-link-hover: #311311;
    --header-link-active: #7C6E6B;

    --header-dd-bg: #E8E1E0;
    --header-dd-link: #503D3A;
    --header-dd-link-hover: #FFFFFF;
    --header-dd-link-bg-hover: #B21F24;

    --header-btn: #FFFFFF;
    --header-btn-hover: #E8E1E0;
    --header-btn-bg: #311311;

    --select-color: #D3C8BB;

}

